/* * {
  border: 1px solid red;
} */

:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", "Georgia", "serif";
  font-weight: lighter;
  font-size: 22px;
  line-height: 38.5px;
  line-height: 149%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: white;
  text-decoration: none;
}

p {
  padding: 15px 0 35px 0;
  font-size: var(--font3);
  letter-spacing: 2px;
}

h1, h2, h3 {
  font-family: "Forum", "sans-serif";
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.light-font {
  color: white
}
.gold-font {
  color: var(--font-gold);
}

header {
  position: fixed;
  width: 100vw;
  height: 150px;
  background-color: #030303;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 199px;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
}

.header-logo img {
  width: 199px;
  height: 33px;
}

nav {
  display: flex;
  flex-direction: row;
  max-width: 720px;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;  
}

nav li {
  color: white;
  letter-spacing: 2px;
  font-size: var(--font4);
  list-style: none;
  display: inline-block;
  padding-left: 25px;
}

section {
  padding: 75px 0;
  width: 100vw;
  margin: auto;
}

.section-title {
  text-transform: uppercase;
  font-size: var(--font1);
  font-weight: regular;
  font-size: 80px;
  padding: 20px 0;
  line-height: 90px;
  letter-spacing: 5px;
}

.welcome-section {
  margin-top: 150px;
  padding-top: 0;
  align-items: center;
  background-color: #030303;  
}

.welcome-container {
  position: relative;
  justify-content: center;
  height: 750px;
  background-image: url("../assets/img/1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% - 10px);
}

.welcome-container .btn {
  border: none;
  outline: 0;
  width: 360px;
  height: 75px;
  font-size: var(--font4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--dark-red);
  color: white;
  letter-spacing: 2px;
}

.welcome-section .btn:hover {
  background-color: var(--font-gold);
}

.slider {
  position: absolute;
  width: 600px;
  height: 120px;
  top: 690px;
  right: -0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #030303;
}

.video-section {
  padding-top: 90px;
}

.dark-red {
  background-color: #710707;
}

.bg-dark{
  background-color: #030303;
}

.font-gold {
  color: #9d8665;
}

.font-light {
  color: white;
  background-color: #030303;
}