/* * {
  border: 1px solid red;
} */

/* Globals */

:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", "Georgia", "serif";
  font-weight: lighter;
  font-size: 22px;
  line-height: 38.5px;
  line-height: 149%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

p {
  padding: 15px 0 35px 0;
  font-size: var(--font3);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.light-font {
  color: white
}

.gold-font {
  color: var(--font-gold);
}

/*  Header and navigation menu */

header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 150px;
  background-color: #030303;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 199px;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
}

.header-logo img {
  width: 199px;
  height: 33px;
}

nav {
  display: flex;
  flex-direction: row;
  max-width: 720px;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;  
}

nav a {
  color: white;
}

nav li {
  letter-spacing: 2px;
  font-size: var(--font4);
  list-style: none;
  display: inline-block;
  padding-left: 25px;
}

/* Sections */

/* General */

.section-title {
  font-family: "Forum", "sans-serif";
  font-style: normal;
  font-weight: normal;
  /* font-size: var(--font1); */
  line-height: 149%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

section {
  padding: 75px 0;
  width: 100vw;
  margin: auto;
}

section h1, h2 {
  font-size: var(--font1);
}

section h3 {
  font-size: var(--font2);
  padding-top: 20px;
}

.dark {
  background-color: var(--bg-dark);
}

/* Welcome section */

.welcome-section {
  margin-top: 150px;
  padding-top: 0;
  align-items: center;
  background-color: #030303;  
}

.welcome-container {
  position: relative;
  justify-content: center;
  height: 750px;
  background-image: url("../assets/img/1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% - 10px);
}

.welcome-container p {
  letter-spacing: 2px;
}

.welcome-container .btn {
  border: none;
  outline: 0;
  width: 360px;
  height: 75px;
  font-size: var(--font4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--dark-red);
  color: white;
}

.welcome-section .btn:hover {
  background-color: var(--font-gold);
}

.slider {
  position: absolute;
  width: 600px;
  height: 120px;
  top: 690px;
  right: -0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #030303;
}

/* Visiting section */

.visiting-container {
  position: relative;
  height: 1150px;
  display: flex;
  flex-direction: column;
}

.card-container {
  position: absolute;
  left: 0px;
  top: 193px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.card-container a {
  display: block;
}

.card {
  width: 440px;
  height: 424px;
}

.card img {
  width: 440px;
  height: 285px;
}

.card p {
  padding-top: 1rem;
  padding-bottom: 0;
}

/* Explore Section */

.explore-container {
  position: relative;
  height: 715px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.explore-container img {
  position: absolute;
  width: 720px;
  height: 700px;
  left: 720px;
  top: 15px;
}

.text-wrapper {
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper p {
  font-size: var(--font4);
}

.video-section {
  padding-top: 90px;
}

