/* * {
  border: 1px solid red;
} */

/* Globals */

html {
  scroll-behavior: smooth;  
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Georgia", "serif";
  font-weight: lighter;
  line-height: 130%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, 
body {
    overflow-x: hidden; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
}

/* Links */

a {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
}

a:visited {
  color: #9d8665;
}

a:hover {
  color: antiquewhite;
}

.dark-bg {  
  color: white;
}

.dark {
  background-color: var(--bg-dark);
}

.light-bg a {
  color: black;
}

.light-font {
  color: white
}

.gold-font {
  color: var(--font-gold);
}

.red-font {
  color: var(--dark-red);
}

.black-font {
  color: black;
}

p {
  font-size: var(--font3);
}

.font1 {
  font-size: var(--font1);
}
.font2 {
  font-size: var(--font2);
}
.font3 {
  font-size: var(--font3);
}
.font4 {
  font-size: var(--font4);
}

.font5 {
  font-size: var(--font5);
}

.spacing5 {
  letter-spacing: 5px;
}
.spacing2 {
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .font1 {
    font-size: 50px;
  }
  .font2 {
    font-size: 28px;
  }
  .font3 {
    font-size: 24px;
  }
  .font4 {
    font-size: 20px;
  }
  .font5 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .font1 {
    font-size: 40px;
    line-height: 60px;
  }
  .font2 {
    font-size: 28px;
  }
  .font3 {
    font-size: 22px;
  }
  .font4 {
    font-size: 18px;
  }
  .font5 {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .font1 {
    font-size: 28px;
    line-height: 40px;
  }
  .font2 {
    font-size: 22px;
  }
  .font3 {
    font-size: 18px;
  }
  .font4 {
    font-size: 16px;
  }
  .font5 {
    font-size: 16px;
  }
}

.bold {
  font-weight: 400;
}

.section-title {
  font-family: "Forum", "sans-serif";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 5px;
  line-height: 130%;
  text-transform: uppercase;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

section {
  padding: 75px 0;
}

@media  (max-width: 1024px) {
  .section {
    padding: 60px 0;
  }  
}

@media  (max-width: 768px) {
  .section {
    padding: 40px 0;
  }  
}

@media (max-width: 420px) {
  .section {
    padding: 40px 0;
  } 
}


.container {
  position: relative;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media  (max-width: 1024px) {
  .container {
    max-width: calc(1024px - 0px);
  }  
}

@media  (max-width: 768px) {
  .container {
    max-width: 768px;
  }  
}

@media (max-width: 420px) {
  .container {
    max-width: 420px;
  } 
}

/*  Header and navigation menu */


header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 150px;
  background-color: #030303;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 49px;
  height: 26px;
  background-image: url(../assets/svg/louvre.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo:hover {
  filter: invert(55%) sepia(11%) saturate(939%) hue-rotate(356deg) brightness(96%) contrast(92%);
}
.header-logo a {
  font-size: 28px;
  letter-spacing: 5px;
}
.navbar {
  display: flex;
  flex-direction: row;
  max-width: 860px;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;  
}

.nav-item {
  letter-spacing: 2px;
  font-size: var(--font4);
  list-style: none;
  display: inline-block;
  padding-left: 50px;
}

/* helper class to make ancor stop after the fixed header */

.anchor {
  display:block;
  height: 150px; /* this is the height of the header */
  margin-top: -150px; /* this is the negative value of the height of the header */
  visibility: hidden;
}

.hamburger {
  display: none;
  padding: 5px;
}

.hidden {
  visibility: show;
}

/* Adaptive burger menu */

@media only screen and (max-width: 1024px) {

  .header {
    height: 130px;
  }
  
  .bar {
    display: block;
    width: 32px;
    height: 2px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  .hamburger:hover {
    background-color: #710707;
  }
  .bar:hover {
    background-color: var(--dark-red);
  }
  
  .nav-menu {
      position: fixed;
      width: 300px;
      height: 450px;
      padding: 40px;
      left: -100%;
      top: 8rem;      
      display: flex;
      flex-direction: column;
      background-color: black;
      align-items: flex-start;
      justify-content: space-around;
      text-align: center;
      transition: 0.7s;
  }

  .nav-menu.active {
      left: 0;
  }

  .hidden.active {
    visibility: hidden;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 110px;
  }  
}
@media only screen and (max-width: 420px) {
  .header {
    height: 90px;
  }  
  .header-logo {
    width: 131px;
  }  
  .header-logo a {
    font-size: 16px;
  }
  .logo {
    width: 30px;
    height: 20px;
    background-size: contain;
  }
}

/* End of burger menu */

/* Sections */

/* Welcome section */

.welcome-section {
  margin-top: 150px;
  height: 810px;
  padding-top: 0;
  align-items: flex-start;
  background-color: #030303;  
}

.welcome-container {
  padding-top: -40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 750px;
  z-index: 1;
  background-image: url("../assets/img/welcome-slider-1.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% - 20px);
  animation: 0.5s ease-in-out;
}
.welcome-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 420px;
  width: 350px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(90deg, black 0%, transparent 100%);
}
.welcome-text-small-site {
  z-index: 10;
}

.welcome-container h2 {
  padding-top: 150px;
}
.welcome-container p {
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.welcome-container a {
  display: block;
}

.welcome-container .btn {
  border: none;
  outline: 0;
  width: 360px;
  height: 75px;
  font-size: var(--font4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--dark-red);
  color: white;
}

.welcome-section .btn:hover {
  background-color: var(--font-gold);
}

@media (max-width: 1024px) {
  .welcome-section {
    margin-top: 130px;
    height: 585px;
  }
  .welcome-container h2 {
    line-height: 90px;
    padding-top: 50px;
  }
  .welcome-container p {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 60px;
  }
  .welcome-container .btn {
    width: 300px;
    height: 60px;
  }
  .welcome-container {
    height: 585px; 
    background-image: url("../assets/img/welcome-slider-1.jpeg");
    background-position: calc(100% - 20px) calc(100% - 0px);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .welcome-container::before {
    left: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .welcome-section {
    margin-top: 110px;
    height: calc(861px - 100px);
    padding-bottom: 0;
  }
  .welcome-container {
    background-position: bottom;
    width: calc(100% - 40px);
    height: 100%;
  }
  .welcome-container::before {
    display: none;
  }

  .welcome-container h2 {
    padding-top: 0px;
    text-align: center;
    line-height: 149%;
  }
  .welcome-container p {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
  }

  #hiddenButton {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .welcome-section {
    margin-top: 90px;
    height: 544px;
    padding-bottom: 0;
  }
  .welcome-container {
    background-position: 0px 180px;
  }
}

.slider {
  position: absolute;
  width: 700px;
  height: 120px;
  right: 0;
  bottom: -55px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #030303;
}

.slider-numbers {
  height: 22px;
}
.slider-numbers p {
  padding: 0 10px;
}

.slider-first-number:hover {
  color:#9d8665;
  cursor: pointer;
}
.slider-last-number:hover {
  color:#9d8665;
  cursor: pointer;
}

.slider-bullets {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-bullet {
  width: 16px;
  height: 16px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}
.slider-bullet.active {
  background-color: #9d8665;
}

.slider-bullet:hover {
  background-color: #710707;
}

.slider-bullet:active {
  background-color:#9d8665;
}

.slider-bullet:visited {
  background-color: #7E6C51;
}

.slider-arrows {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrow-backward {
  width: 30px;
  height: 12px;
  background-image: url(../assets/svg/arrow_backward.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.arrow-forward {
  width: 30px;
  height: 12px;
  background-image: url(../assets/svg/arrow_forward.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrow-backward:hover, .arrow-backward:active {
  filter: invert(58%) sepia(55%) saturate(228%) hue-rotate(356deg) brightness(83%) contrast(85%);
}

.arrow-forward:hover, .arrow-forward:active {
  filter: invert(58%) sepia(55%) saturate(228%) hue-rotate(356deg) brightness(83%) contrast(85%);
}
@media (max-width: 1024px) {
  .slider {
    width:100%;
    bottom: -0;
    justify-content: space-between;
    padding: 40px 100px 40px 510px;
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    width: 100%;
    height: 100px;
    bottom: -0;
    justify-content: space-between;
    padding: 40px 150px 40px 150px;
    row-gap: 20px;
  }
  .slider-numbers p {
    padding: 0 10px;
  }
  .slider-numbers {
    height: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .slider {
    width: 100%;
    height: 80px;
    padding: 20px 50px 20px 50px;
    align-self: center;
    align-items: center;
  }
  .slider-numbers {
    height: 16px;
  }
  .slider-numbers p {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .slider-bullet {
    width: 12px;
    height: 12px;
    margin: 3px;
  }
  .slider-numbers p {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .slider-bullets {
    width: 75px;
  }
  .slider-bullet {
    width: 7px;
    height: 7px;
  }
  .slider-numbers p {
    font-size: 16px;
  }
}


/* Visiting section */

.visiting-section {
  min-height: fit-content;
}

.visiting-container {
  position: relative;
  height: 1116px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (max-width: 1450px) {
  .visiting-container {
    height: 1305px;
  }
}
@media (max-width: 796px) {
  .visiting-container {
    height: 1146px;
  }
}
@media (max-width: 420px) {
  .visiting-container {
    height: 2073px;
  }
}

.card-container .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50%;
}

.card-container {
  position: absolute;
  top: 11rem;
  max-width: 100%;  
  margin-bottom: 30px;
  padding: 0 20px;
  align-self: center;
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem; 
  column-gap: 2rem;
}

.card-container a {
  display: block;
  padding-bottom: 20px;
}

.card:hover .underline-title::after {
  width: 100%;
  transition: 0.7s ease;
}

.card {
  max-width: 440px;
  max-height: 424px;
}
.card a {
  color: black;
}
.visiting-card-title {
  padding-top: 20px;
}

.card img {
  width: 100%;
  height: 100%;
}

.card p {
  padding-top: 20px;
  padding-bottom: 0;
}
.street-view {
  width: 100vw;
  height: 100vh;
}

/* @media (max-width: 1450px) { */
@media (max-width: 1450px) {

  .card-container {
    max-width: 810px;
    height: 1160px;
    top: 150px;
  }
  .card {
    width: 330px;
    height: 345px;
  }
  .card h3 {
    font-size: 28px;
    letter-spacing: 5px;
    white-space: nowrap;
  }
  .card p {
    padding-top: 15px;
  }
  .card-container .underline-title::after {
    bottom: -8px;
    width: 45%;
  }
}
@media (max-width: 768px) {
  .card-container {
    max-width: calc(56px + 280px + 392px);
    height: 983px;
    position: unset;
    margin-top: 70px;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-evenly;
    column-gap: 0;
    row-gap: 40px;
  }
  .card {
    width: 280px;
    height: 301px;
  }
  .card h3 {
    font-size: 22px;
    letter-spacing: 3px;
    white-space: nowrap;
  }
  .card p {
    padding-top: 10px;
  }
  .card-container .underline-title::after {
    bottom: -6px;
    width: 55%;
    height: 2px;
  }
}
@media (max-width: 420px) {
  .card-container {
    margin-top: 65px;
  }
  .card-container a {
    padding-bottom: 15px;
  }
  .underline-title::after {
    bottom: -25px;
  }
  .card {
    width: 280px;
    height: 295px;
  }
}

/* Explore Section */

.explore-container {
  height: 715px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.text-wrapper {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper h2 {
  margin-bottom: 100px;
  white-space: nowrap;
  width: 100%;
}

.text-wrapper p {
  line-height: 140%;
  padding-bottom: 30px;
}

.painting-wrapper {
  margin-top: 10px;
  width: 720px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}

.explore-painting {
  position: absolute;
  width: 720px;
  height: 700px;
  overflow: hidden;
}

.bottom-painting, .top-painting {
  display: block;
}

#explore-painting-renovated {
  width: 433px;
}

.painting-slider {
  position: absolute;
  z-index: 10;
  top: 335px;
  left: 415px;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  border: 5px solid #FFFFFF;
  opacity: 0.7;
  border-radius: 50%;
}

.painting-slider::before {
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 12px;
  content: "";
  width: 5px;
  height: 330px;
  background-color: #FFFFFF;
}

.painting-slider::after {
  position: absolute;
  z-index: 8;
  bottom: 30px;
  left: 12px;
  content: "";
  width: 5px;
  height: 339px;
  background-color: #FFFFFF;
}

@media (max-width: 1500px) {

  .explore-section {
    padding-top: 65px;
    height: 1149px;
  }
  
  .explore-container {
    height: 1000px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
  }
  .text-wrapper {
    width: 100%;
    align-items: flex-start;
  }

  .las-meninas {
    padding-top: 45px;
  }
  .text-wrapper p {
    padding-bottom: 15px;
  }

  .paragraph-hidden {
    display: none;
  }
  .text-wrapper h2 {
    margin-bottom: 50px;
  }

  .painting-wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 796px) {

  .explore-section {
    padding-top: 45px;
    height: 908px;
  }
  
  .explore-container {
    height: 800px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
  }
  .explore-container .underline-title::after {
    bottom: -25px;
  }  
  .las-meninas {
    display: none;
  }
  .small-site-hidden {
    display: none;
  }
  .painting-wrapper {
    margin-top: 15px;
  }
  .explore-painting img {
    width: 728px;
    height: 705px;
  }
}

@media (max-width: 420px) {
  .explore-section {
    height: 551px;
  }
  .painting-wrapper {
    width: 380px;
    height: 368px;
  }
  .explore-painting {
    width: 380px;
    height: 368px;
  }
  .explore-painting img {
    width: 380px;
    height: 368px;
  }

  #explore-painting-renovated {
    width: 230px;
  }
  .painting-slider {
    top: 170px;
    left: 225px;
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
  }
  
  .painting-slider::before {
    top: 16px;
    left: 7px;
    width: 2px;
    height: 180px;
  }
  
  .painting-slider::after {
    bottom: 16px;
    left: 7px;
    width: 2px;
    height: 172px;
  }
}

/* Video Section */

.video-container {
  height: 1246px;
  display: flex;
  flex-direction: column;
}

.video-container .text-wrapper {
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  gap: 110px;
  padding-bottom: 75px;
}

.video-container .text-wrapper h2 {
  white-space: nowrap;
  padding-bottom: 0;
  margin-bottom: 0;
}

.video-container .text-wrapper p {
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .video-section {
    padding-bottom: 50px;
  }
  .video-container {
    max-height: 885px;
  }
  .video-container .text-wrapper {
    padding-bottom: 45px;
  }
  .paragraph-hidden {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .video-container {
    height: 745px;
  }
  .video-container .text-wrapper {
    padding-bottom: 25px;
  }
}
@media (max-width: 420px) {
  .video-section {
    padding-bottom: 40px;
  }
  .video-container {
    height: 475px;
  }
}

.main-video {
  position:relative;
  max-width: 1440px;
  height: 735px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/video/video-poster-0.jpeg);
  background-size: cover;
  background-repeat: no-repeat;  
}

.big-play-button {
  background: url(../assets/svg/big-play.svg);
  background-size: contain;
  width: 220px;
  height: 220px;
  cursor: pointer;
  transition: 0.1s ease;
  border: none;
}

@media (max-width: 1024px) {
  .main-video {
    max-width: 984px;
    height: 504px;
  }
  .big-play-button {
    width: 152px;
    height: 152px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .main-video {
    max-width: 728px;
    height: 386px;
  }
  .big-play-button {
    width: 80px;
    height: 80px;
    margin-bottom: 55px;
  }
}
@media (max-width: 420px) {
  .main-video {
    max-width: 380px;
    height: calc(226px + 0px);
  }
  .big-play-button {
    width: 50px;
    height: 50px;
    margin-bottom: 55px;
  }
}

.big-play-button:hover {
  filter: invert(55%) sepia(11%) saturate(939%) hue-rotate(356deg) brightness(96%) contrast(92%);
}

.video-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85px;
  padding: 0 30px;
  background-color: #030303;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.video-controls-button {  
  margin: 0;
  align-self: center;  
  background-color: var(--bg-grey-2);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
}
.video-controls-button:hover {
  filter: invert(55%) sepia(11%) saturate(939%) hue-rotate(356deg) brightness(96%) contrast(92%);
}

.play-button {
  width: 23px;
  height: 30px;
  background-image: url(../assets/svg/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.play-button.active {
  background-image: url(../assets/svg/pause.svg);
}

.volume-button {
  width: 40px;
  height: 30px;
  background-image: url(../assets/svg/volume.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.volume-button.active {
  background-image: url(../assets/svg/mute.svg);
  background-size: contain;
  background-repeat: no-repeat;
} 

.screenmode-button {
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/fullscreen.svg);
}
.screenmode-button.active {
  background-image: url(../assets/svg/fullscreen_exit.svg);
}

@media (max-width: 1024px) {
  .video-controls {
    height: 60px;
    padding: 0 25px;
  }
  .play-button {
    width: 23px;
    height: 26px;
  }
  .volume-button {
    width: 35px;
    height: 26px;
  }
  .screenmode-button {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 768px) {
  .play-button {
    width: 23px;
    height: 24px;
  }
  .screenmode-button {
    width: 24px;
    height: 24px;
  }
  .volume-button {
    width: 28px;
    height: 24x;
  }
}
@media (max-width: 420px) {
  .video-controls {
    height: 55px;
    padding: 0 15px;
  }
  .play-button {
    width: 16px;
    height: 18px;
  }
  .screenmode-button {
    width: 18px;
    height: 18px;
  }
  .volume-button {
    width: 22px;
    height: 18px;
  }
}

.video-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, rgb(113, 7, 7) 0%, rgb(113, 7, 7) 50%, rgb(196, 196, 196) 50%, rgb(196, 196, 196) 100%);
  border-radius: 0;
  outline: none;
  align-self: center;
  -webkit-transition: .2s;
  transition: opacity .2s;  
}

.video-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.video-slider::-webkit-slider-thumb:hover {
  background: var(--font-gold);
}

.play-slider {
  width: 929px;
}
.volume-slider {
  width: 155px;
}

@media (max-width: 1024px) {
  .video-slider {
    height: 6px;
  }
  .video-slider::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
  .play-slider {
    width: 564px;
  }
  .volume-slider {
    width: 143px;
  }
}
@media (max-width: 768px) {
  .play-slider {
    width: 350px;
  }
  .volume-slider {
    width: 110px;
  }
}
@media (max-width: 1024px) {
  .video-slider {
    height: 4px;
  }
  .video-slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  .play-slider {
    width: 150px;
  }
  .volume-slider {
    width: 50px;
  }
}

.video-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-videos {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .three-videos {
    padding-bottom: 40px;
  }
  iframe {
    width: 300px;
    height: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .three-videos {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  iframe {
    width: 354px;
    height: 199px;
  }
  .hidden-video-small-site {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .three-videos {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  iframe {
    width: 180px;
    height: 101px;
  }
  .ytp-large-play-button {
    width: 30px;
    height: 20px;
  }
}

.video-pagination {
  width: 200px;
  height: 12px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-pagination-backward-arrow {
  width: 12px;
  height: 100%;
  background-image: url(../assets/svg/video-arrow-backward.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.video-pagination-backward-arrow:hover {
  filter: invert(10%) sepia(36%) saturate(6711%) hue-rotate(348deg) brightness(70%) contrast(108%);
}

.video-pagination-bullet {
  height: 12px;
  width: 12px;
  background-image: url(../assets/svg/video-dot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.video-bullet-active {
  filter: invert(10%) sepia(36%) saturate(6711%) hue-rotate(348deg) brightness(10%) contrast(108%);
}

.video-pagination-bullet:hover {
  filter: invert(10%) sepia(36%) saturate(6711%) hue-rotate(348deg) brightness(70%) contrast(108%);
}

.video-pagination-bullet.active {
  filter: invert(0%) sepia(1%) saturate(7484%) hue-rotate(49deg) brightness(70%) contrast(98%);
}
.video-pagination-forward-arrow {
  width: 12px;
  height: 100%;
  background-image: url(../assets/svg/video-arrow-forward.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.video-pagination-forward-arrow:hover {
  filter: invert(10%) sepia(36%) saturate(6711%) hue-rotate(348deg) brightness(70%) contrast(108%);
}

@media only screen and (max-width: 768px) {
  .video-pagination {
    width: 190px;
    align-items: center;
  }
  .video-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 420px) {
  .video-pagination-bullet {
    height: 8px;
    width: 8px;
  }
}

/* Gallery section */

.gallery-section {
  padding-bottom: 0;
  height: 2200px;
}

@media (max-width: 1024px) {
  .gallery-section {
    height: 1460px;
    padding-top: 65px;
  }
}
@media (max-width: 768px) {
  .gallery-section {
    height: 1220px;
    padding-top: 45px;
  }
}
@media (max-width: 420px) {
  .gallery-section {
    height: 757px;
  }
}

.gallery-container {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.picture-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 0;
  overflow-y: hidden;
}

.picture-container::before {
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(0deg, black 0%, transparent 100%);
}

.picture-inner-container {
  height: 2550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 25px;
  column-count: 3;
  z-index: 2;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  gap: 20px; */
}

.picture-container img { 
  margin: 0 0 1em;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .picture-container {
    padding-top: 60px;
  }
  .picture-inner-container {
    height: 1800px;
  }
  .picture-container img {
    max-width: 304px;
  }
}

@media (max-width: 768px) {
  .picture-container {
    padding-top: 50px;
  }
  .picture-inner-container {
    height: 1760px;
    column-count: 2;
  }
  .picture-container img {
    max-width: 352px;
  }
}
@media (max-width: 420px) {
  .picture-inner-container {
    height:780px;
  }
  .picture-container img {
    max-width: 178px;
  }
}

/* Tickets Section */

.tickets-container {
  height: 743px;
  display: flex;
  flex-direction: column;
}

.tickets-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}

.tickets-wrapper h4 {
  font-size: var(--font3);
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 55px;
}

.ticket-image {
  width:720px;
  height: 550px;
  background-image: url(../assets/img/buy-tickets-img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .tickets-container {
    height: 598px;
  }
  .tickets-wrapper {
    padding-top: 90px;
  }
  .ticket-amount {
    margin-right: 30px;
    margin-left: 30px;
  }
  .ticket-image {
    width: 700px;
    height: 440px;
  }
  .ticket-type {
    display: none;
  }
}

@media (max-width: 768px) {
  .tickets-container {
    height: 553px;
  }
  .tickets-wrapper {
    padding-top: 70px;
    justify-content: flex-start;
  }
  .ticket-image {
    width: 444px;
    height: 340px;
  }
}
@media (max-width: 420px) {
  .tickets-container {
    height: 679px;
  }
  .tickets-wrapper {
    display: flex;
    flex-direction: column;
  }
  .ticket-image {
    width: 380px;
    height: 160px;
    background-image: url(../assets/img/Mith-buy-small.jpg);
  }
  .tickets-wrapper {
    padding-top: 65px;
  }
}

/* Radio buttons - Exhibition type */

.radio-container {
	padding-bottom: 20px;
}

/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:black;
}

/* Ticket Amount block */

.ticket-amount {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount-block {
  width: 150px;
}
.amount-block img {
  width: 150px;
}

.amount-block h4 {
  text-align: right;
  padding-bottom: 15px;
}

.amount-block p{
  font-weight: 200;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.total-amount p {
  padding-top: 50px;
  font-size: var(--font3);
  font-weight: 400;
  text-align: right;
  letter-spacing: 1.65px;
}

.button {
  width: 175px;
  height: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #030303;
}

.button a {
  color: white;
  display: block;
}

.button:hover {
  background-color: var(--font-gold);
}

@media (max-width: 1200px) {

  .amount-block {
    width: 175px;
  }
  .amount-block h4  {
    text-align: left;
  }
  .total-amount p {
    text-align: left;
  }
  .amount-block p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .button {
    margin-top: 55px;
    align-self: baseline;
  }
  .button a {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) { 
  .ticket-amount {
    margin-left: 55px;
  }
  .amount-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .amount-block h4 {
    padding-bottom: 30px;
  }
  .amount-block p {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .amount-block img {
    width: 175px;
    height: 50px;
}
  .total-amount p {
    padding-top: 60px;
  }
  .button {
    margin-top: 25px;
  }
}
@media (max-width: 420px) {
  .ticket-amount {
    padding-top: 35px;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
  }
  .amount-block h4 {
    align-self: center;
    font-size: 16px;
    padding-bottom: 0px;
  }
  .amount-block p {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .total-amount p {
    display: block;
    font-size: 16px;
    padding-left: 40px;
    letter-spacing: normal;
    padding-top: 55px;
    align-self: center;
  }
  .button {
    margin-top: 25px;
  }
}

/* Parallax section */

.parallax {
  /* position: relative; */
  width: 100vw;
  height: 400px;
  margin: 20px 0;
  display: flex;
  background-image: url(../assets/img/parallax.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  .parallax {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .parallax {
    height: 300px;
  }
}

/* Contacts Section */

.contacts-container {
  height: 813px;
  display: flex;
  flex-direction: column;
}

.contacts-wrapper {
  padding: 105px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-text-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-text-wrapper h4 {
  font-size: var(--font3);
  font-weight: 400;
  line-height: 130%;
  padding-top: 0;
  padding-bottom: 50px;
}

.contact-text-wrapper p {
  padding: 15px 0;
}
.contact-text-wrapper a {
  display: block;
  color: black;
  padding: 10px 0;
  letter-spacing: normal;
}

#map {
  width: 960px;
  height: 620px;
  /* background-image: url(../assets/img/map.jpg);
  background-size: contain;
  background-repeat: no-repeat; */
}
.contacts-wrapper img {
  vertical-align: bottom;
}

@media (max-width: 1024px) {
  .contacts-container {
    height: 614px;
  }
  .contacts-wrapper {
    padding: 90px 0;
  }
  .contacts-wrapper img {
    width: 694px;
    height: 454px;
  }
  .contact-text-wrapper h4 {
    font-size: 24px;
    padding-bottom: 30px;
  }
  .contact-text-wrapper a {
    padding: 7px 0;
  }  
  #map {
    width: 694px;
    height: 454px;
  }
}
@media only screen and (max-width: 768px) {
  .contacts-container {
    height: calc(818px + 20px);
  }
  .contacts-wrapper {
    padding-top: 65px;
    padding-bottom: 70px;
    flex-direction: column;
  }
  .contact-text-wrapper h4 {
    font-size: 20px;
    padding-bottom: 35px;
  }
  .contact-text-wrapper a {
    font-size: 18px;
    padding: 6px 0;
  }  
  .contacts-wrapper img {
    width: 728px;
    height: 476px;
    margin-top: 35px;
  }
  #map {
    width: 728px;
    height: 476px;
    margin-top: 40px;
  }
}
@media (max-width: 420px) {
  .contacts-section {
    padding-bottom: 0;
  }
  .contacts-container {
    height: calc(556px + 40px);
  }
  .contacts-wrapper {
    padding-bottom: 40px;
  }
  .contact-text-wrapper h4 {
    font-size: 16px;
  }
  .contact-text-wrapper a {
    font-size: 16px;
    /* padding: 6px 0; */
  }
  #map {
    width: 380px;
    height: 248px;
    margin-top: 35px;
    /* background-image: url(../assets/img/louvre-position.jpg); */
  }
}

/* footer */

footer {
  background-color: var(--bg-dark);
  height: 392px;
}

.footer-wrapper {
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo a {
  font-size: 28px;
  letter-spacing: 5px;
}

.small-site-footer-links {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links-list {
  width: 365px;
  padding-left: 100px;
  margin-right: auto;
  column-count: 2;
  column-gap: 130px;
}

.footer-links-list li {
  padding-top: 10px;
}

.social-networks {
  width: 340px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
}
.social-link {
  width: 48px;
  height: 48px;
  padding: 15px;
  background-size: 30%;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 50%;
  background-position: center;
}
.social-link:hover {
  filter: invert(54%) sepia(42%) saturate(293%) hue-rotate(356deg) brightness(92%) contrast(84%);
}
.youtube-icon {
  background-image: url(../assets/svg/youtube-icon.svg);
}
.instagram-icon {
  background-image: url(../assets/svg/instagram-icon.svg);
}
.facebook-icon {
  background-image: url(../assets/svg/facebook-icon.svg);
}
.twitter-icon {
  background-image: url(../assets/svg/twitter-icon.svg);
}
.pinterest-icon {
  background-image: url(../assets/svg/pinterest-icon.svg);
}

.footer-bottom {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom p {
  letter-spacing: 2px;
}
footer li {
  padding-bottom: 20px;
}

.divider {
  color: white;
  width: 100%;
}

.footer-bottom p {
  padding: 0 0;
  font-size: var(--font4);
}

@media (max-width: 1400px) {
  .footer {
    height: 368px;
  }
  .footer-top {
    padding-bottom: 20px;
  }
  .footer-wrapper {
    padding-top: 60px;
  }
  .small-site-footer-links {
    width: calc(313px + 92px + 340px);
  }
  .footer-links-list {
    width: 313px;
    padding-left: 0px;
    column-count: 2;
    column-gap: 130px;
  }
  .social-networks {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  footer {
    height: 411px;
  }
  .footer-wrapper {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer-logo {
    align-items: baseline;
  }
  .footer-top {
    align-items: flex-start;
    justify-content: left;
  }
  .small-site-footer-links {
    width: 393px;
    margin-left: 100px;
    flex-direction: column;
  }
  .footer-links-list {
    width: 393px;
    column-gap: 120px;
    padding-left: 0;
    padding-bottom: 20px;
    margin-right: 0;
    align-self: center;
  }
  .social-networks {
    width: 340px;
    align-self: flex-start;
    margin-bottom: 10px;
  }
  .footer-bottom {
    padding-top: 30px;
  }
  .footer-bottom a {
    font-size: 22px;
  }
}
@media (max-width: 420px) {
  .footer-wrapper {
    padding-top: 35px;
  }
  .footer-hidden-small-site {
    display: none;
  }
  .footer-top {
    flex-direction: column;
    padding-bottom: 35px;
  }
  .footer-logo {
    width: 131px;
    padding-bottom: 20px;
    align-items: center;
  }
  .footer-logo a {
    font-size: 16px;
  }
  .small-site-footer-links {
    width: 380px;
    margin-left: 0;
  }
  .footer-links-list {
    width: 380px;
    column-gap: 30px;
    column-count: 3;
  }
  .footer-bottom a {
    font-size: 16px;
  }
  .footer-bottom p {
    font-size: 16px;
  }
}